@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --color-text: #787879;
    --color-almostblack: #2D2D2D;
    --color-strawberry-pink: #FF4B63;
    --color-lightpurple: ##AB82EF;
    --color-lightblue: #46B0E4;
    --color-fields: #18C389;
    --color-orangina: #FFAA11;
    --color-salmon: #FD848A;
    --color-lightgray: ##b9b7b7;
    --color-white: #ffffff;

  }
  
html{
    font-family: 'Open Sans', sans-serif;
    color: var(--color-text);
    max-width: 100%;
}

body{
    max-width: 80%;
}

nav{
    display: flex;
    max-width: 80%;
    }

nav img{
    display: flex;
    }

nav ul{ list-style: none;
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    text-transform: uppercase;
    color: var(--color-almostblack);
    align-items: baseline;
    font-weight: 700;

}

.navbar li a {
    text-decoration: none;
    color: var(--color-almostblack);
  } 

  /*.dropdown a {
    color: var(--color-strawberry-pink);
  }
  */

  .navbar li:nth-child(4) a,
  .navbar li:last-child a {
    color: var(--color-strawberry-pink);
  }

.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color:var(--color-white) ;
    color: var(--color-almostblack);
    padding:10px;
    margin-top: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Añade la sombra aquí */
}
  
  .dropdown-menu li {
    display: block;
    padding:10px;
    }

  hr {
    border: none; 
    border-top: 1px solid #f1ecec;
  }

.around-download {
    border: 1px solid var(--color-strawberry-pink);
    border-radius: 25px;
    padding: 5px 10px;
    color: var(--color-strawberry-pink);
}

h1{
    color: var(--color-almostblack);
    text-align: center;
}

p{
    text-align: center;
    max-width: 80%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-strawberry-pink);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 25px;
    margin: 0 10px;
  }

  .img-index{
    max-width: 60%;
    margin:0 auto;
  }
  


  /*PARTE DE CIRCULINCHIS*/
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .grid-item {
    text-align: center;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .circle i {
    color: white;
    font-size: 24px;
  }
  
  .grid-item p {
    margin-top: 10px;
  }